<div class="row">
  <div class="col-12 col-lg-3">
    <img *ngIf="col!==undefined" src={{col.photoUrl}} alt="photo" class="img-thumbnail"
      style="width: 21rem; height:15rem;">
  </div>
  <div class="col-12 col-lg-9">
    <div id="infosCard" class="card">
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <th style="width: 199px;"></th>
              <th></th>
            </tr>
            <tr>
              <td>Matricule</td>
              <td *ngIf="col!==undefined">{{col.matricule}}</td>
            </tr>
            <tr>
              <td>Nom</td>
              <td *ngIf="col!==undefined">{{col.nom|uppercase}}</td>
            </tr>
            <tr>
              <td>Prénoms</td>
              <td *ngIf="col!==undefined">{{col.prenoms}}</td>
            </tr>
            <tr>
              <td>Date de naissance</td>
              <td *ngIf="col!==undefined">
                {{col.dateDeNaissance|date: 'MM/dd/yyyy'}}
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td *ngIf="col!==undefined">
                <ng-container *ngIf="textShow">
                  {{col.email}}
                </ng-container>
                <ng-container *ngIf="!textShow">
                  <input type="email" (change)="tmpEmail(newEmail)" class="form-control form-control-sm"
                    value="{{col.email}}" #newEmail>
                </ng-container>
              </td>
            </tr>
            <ng-container *ngIf="!textShow">
              <tr>
                <td>Image URL</td>
                <td *ngIf="col!==undefined"><input type="text" (change)="tmpImgUrl(newImageUrl)"
                    class="form-control form-control-sm" placeholder="URL de l'image" #newImageUrl>
                </td>
              </tr>
            </ng-container>
        </table>
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <th style="width: 199px;"></th>
              <th></th>
            </tr>
            <tr>
              <td>
                <p id="lien" class="text-primary" *ngIf="textShow" (click)="open();">Créer un
                  collegue</p>
              </td>
              <td>
                <ng-container *ngIf="textShow">
                  <button (click)="modif();" type="button" class="btn btn-secondary btn-sm">Modifier</button>
                </ng-container>
                <ng-container *ngIf="!textShow">
                  <button (click)="valider();" type="button" class="btn btn-secondary btn-sm">Valider</button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
